/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 18%;
    justify-content: end;
    margin-top: -105px;
    font-size: large;
   
}
.title ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px 15px;
    position: relative;
 
}

nav ul li a{
    text-decoration: none;
    color: black;
    
    
}
h1 span{
    font-size: 2rem;
    font-family: "Gill Sans Extrabold", sans-serif;
 
}

nav ul ul{
    
    position: absolute;
    top: 60px;
    left: -30px;
    visibility: hidden;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 195px;
    text-decoration: none;
}
nav ul li:hover>ul{
    visibility:visible;
    width: 200px;
    display: grid;
z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white
}
nav ul li ul :hover{
    text-decoration:underline;
    transition: all 0.5 ease;
    cursor: pointer;
    box-shadow: none;
    z-index: 1;
    background-color: white
}
nav ul ul  li:hover{
    display: flex;
    cursor: pointer;
    text-decoration: underline;
    box-shadow: none
}
nav ul ul ul li:hover{
    text-decoration:underline;
    cursor: pointer;
    
   
}
.icon i{
    padding: 20px;
}
sup{
    border-style:ridge;
    border-color: red;
    border-image-repeat: round;
}
nav ul li:hover{
    text-decoration: underline;

}
nav ul.home:hover{
    text-decoration: underline;
}
.imgDiv{
    width: 1590px;
    height: 600px;
}
#shop3:hover .shop2 ul{
display: block;
    z-index: 1;
    background-color: white;
    padding: 10px;
    width: 800px;
    height: 400px;

}

#shop3:hover>.shop2 ul{
    visibility: visible
}

#second-part div.contain p:hover{
color: red;
cursor: pointer;
}
#second-part nav li ul {
    text-decoration: none;
    list-style-type: none;
    display: none;
}
#second-part nav li #ul {
    position: absolute;
    margin-left: 10px;
    margin-top: -140px;
}
#second-part nav li ul{
    margin-left: -210px;
}
#second-part nav li ul:hover li{
    display: block;
}
#second-part.images{
    display: row;
}
#second-part div.image1:hover{
   transform: scale(1.1);
   z-index: 1;
    cursor: pointer;
}
#second-part div.image2:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image3:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image4:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;

 }
 #second-part div.image5:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image6:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image7:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image8:hover{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }