
.headernav {
    margin-top: -58px;
    padding-bottom: 35px;
    padding-right: 35px;
    
}
.headernav a{
    color: black;
    text-decoration: none;
   
}
.headernav a:hover{
    color: black;
    text-decoration: underline;
}
.iconimg img {
    width: 212px;
    margin-left: 47px;
    margin-top: -7px;
   
}

.menu {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    
}

.menu>ul>li>a {
    padding: 20px;
}

.lists {
    display: flex;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    
}

.lists>li {
    position: relative;
}

.fa-angle-right {
    display: inline-block;
}

.lists>li>ul {
    width: 200px;
    position: absolute;
    left: 15%;
    top: 22px;
    padding-top: 48px;
    z-index: 10;
    background-color: white;
    display: none;
    line-height: 1.2;
    font-size: 15px;
}

.lists>li:hover>ul {
    display: block;
}

.lists>li>ul>li {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding: 10px 15px;
}

.lists>li>ul>li>i {
    padding-left: 20px;
}

.lists>li>ul>li>a {
    display: inline-block;
}

.lists>li>ul>li>ul {
    width: 200px;
    background-color: white;
    position: absolute;
    left: 100%;
    top: 20%;
    display: none;
    padding-left: 15px;
    line-height: 1.2;
    font-size: 15px;
}

.lists>li>ul>li>ul>li {
    padding: 10px 15px;
}

.lists>li>ul>li:hover>ul {
    display: block;
}

.lists li {
    list-style-type: none;
}

.fa-search{
    font-size: 20px;
}

.fa-shopping-bag{
    font-size: 20px;
}
.imgDiv{
    width: 1590px;
    height: 600px;
}
#shop3:hover .shop2 ul{
display: block;
    z-index: 1;
    background-color: white;
    padding: 10px;
    width: 800px;
    height: 400px;

}


#shop3:hover>.shop2 ul{
    visibility: visible
}

#second-part div.contain p:hover{
color: red;
cursor: pointer;
}
#second-part nav li ul {
    color: gray;
     text-decoration: none;
     list-style-type: none;
     display: none;
 }
 #second-part nav li #ul {
     position: absolute;
     margin-left: 10px;
     margin-top: 5px;
     color: gray;
 }
 #second-part nav li ul{
     margin-left: -200px;
 }
 #second-part nav li:hover>ul{
     display: block;
     z-index: 1;
     position: absolute;
     background-color: white;
     width: 300px;
     height: 200px;
     padding-top: 10px;
     padding-left: 10px;
     cursor: pointer;
 }
 
 #second-part .images .image1 {
     overflow: hidden;
 }

 #second-part .images2 .image1 {
    overflow: hidden;
}

#second-part.images{
    overflow: hidden;
    display: row;
}
#second-part img:hover{
   transform: scale(1.1);
   z-index: 1;
    cursor: pointer;
}
#second-part .images .p1:hover{
     color: red !important;
     cursor: pointer;
 }
 #second-part .images2 .p1:hover{
    color: red !important;
    cursor: pointer;
}

 #third-part div.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    width: 100%;
    height: 700px;
    margin-top: 160px;
 }
 #third-part div.video{
    overflow: hidden;
    margin-left: 150px;
 }
 #third-part div.video .img:hover{
transform: scale(1.05,1.05)
 }
 
 #third-part div.title{
   margin-left: 800px;
   margin-top: -340px;
 }
  .images{
display: flex;
justify-content: space-evenly;
 }
 #fourth-part div.title{
     margin-left: 580px;
    
 }
 .parallax{
     background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg");
     background-attachment: fixed;
     width: 100%;
     height: 540px;
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center;
     
 }
.image1 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.image2 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.image3 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.image4 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.footer{
    background-color: papayawhip;
   
    height: 400px;
margin-top: 200px;
    display: flex;
    justify-content: space-evenly
}
.foot:hover {
    color: red ;
    cursor: pointer ;
}
