/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 15%;
    padding-right: 18%;
    justify-content: end;
    margin-top: -105px;
    font-size: large;
   
}
.title ul li{
    display: inline-block;
    list-style-type: none;
    padding: 15px 15px;
    position: relative;
 
}

nav ul li a{
    text-decoration: none;
    color: black;
    
    
}
h1 span{
    font-size: 2rem;
    font-family: "Gill Sans Extrabold", sans-serif;
 
}

nav ul ul{
    
    position: absolute;
    top: 60px;
    left: -30px;
    visibility: hidden;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 195px;
    text-decoration: none;
}
nav ul li:hover>ul{
    visibility:visible;
    width: 200px;
    display: grid;
z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background-color: white
}
nav ul li ul :hover{
    text-decoration:underline;
    transition: all 0.5 ease;
    cursor: pointer;
    box-shadow: none;
    z-index: 1;
    background-color: white
}
nav ul ul  li:hover{
    display: flex;
    cursor: pointer;
    text-decoration: underline;
    box-shadow: none
}
nav ul ul ul li:hover{
    text-decoration:underline;
    cursor: pointer;
    
   
}
.icon i{
    padding: 20px;
}
sup{
    border-style:ridge;
    border-color: red;
    border-image-repeat: round;
}
nav ul li:hover{
    text-decoration: underline;

}
nav ul.home:hover{
    text-decoration: underline;
}
.imgDiv{
    width: 1590px;
    height: 600px;
}
#shop3:hover .shop2 ul{
display: block;
    z-index: 1;
    background-color: white;
    padding: 10px;
    width: 800px;
    height: 400px;

}


#shop3:hover>.shop2 ul{
    visibility: visible
}

#second-part div.contain p:hover{
color: red;
cursor: pointer;
}
#second-part nav li ul {
   color: gray;
    text-decoration: none;
    list-style-type: none;
    display: none;
}
#second-part nav li #ul {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    color: gray;
}
#second-part nav li ul{
    margin-left: -200px;
}
#second-part nav li:hover>ul{
    display: block;
    z-index: 1;
    position: absolute;
    background-color: white;
    width: 300px;
    height: 200px;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}

#second-part.images{
    display: row;
}
#second-part div.image1:hover img{
   transform: scale(1.1);
   z-index: 1;
    cursor: pointer;
}
#second-part div.image2:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image3:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image4:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;

 }
 #second-part div.image5:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image6:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image7:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #second-part div.image8:hover img{
    transform: scale(1.1);
    z-index: 1;
     cursor: pointer;
 }
 #third-part div.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gainsboro;
    width: 100%;
    height: 700px;
    margin-top: 160px;
 }
 #third-part div.video{
    
    margin-left: 150px;
 }
 #third-part div.video:hover iframe {
   transform: scale(1.1);
 }
 #third-part div.title{
   margin-left: 800px;
   margin-top: -340px;
 }
  .images{
display: flex;
justify-content: space-evenly;
 }
 #fourth-part div.title{
     margin-left: 580px;
    
 }
 .parallax{
     background-image: url("https://fiorello.qodeinteractive.com/wp-content/uploads/2018/05/h3-background-img.jpg");
     background-attachment: fixed;
     width: 100%;
     height: 540px;
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center;
     
 }
.image1 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.image2 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
.image3 img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}
